.globalNav {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color-main, 0.9);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(100%);
	transition: all 0.3s ease;
	@include mq(l) {
		width: auto;
		height: auto;
		position: static;
		transform: none;
		display: block;
		background-color: transparent;
	}
	&__list {
		@include mq(l) {
			display: flex;
			justify-content: flex-end;
		}
	}
  &__item {
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
		margin-bottom: 30px;
		@include mq(l) {
			height: 80px;
			margin-bottom: 0;
			line-height: 80px;
			margin-right: 20px;
		}
		@include mq(ll) {
			margin-right: 40px;
		}
    &.--logo {
			margin-bottom: 40px;
			@include mq(l) {
				display: none;
			}
		}
    &.--store,
    &.--mail {
      width: 200px;
      height: 40px;
      line-height: 40px;
      padding: 0 20px;
      text-align: left;
			color: $color-white1;
			@include mq(l) {
				height: 80px;
				margin-right: 0;
			}
      a {
				display: flex;
				align-items: center;
        width: 100%;
				height: 100%;
      }
      img {
        width: 20px;
        margin-right: 15px;
      }
    }
    &.--store {
			background-color: $color-accent;
			margin-bottom: 10px;
			@include mq(l) {
				width: 195px;
				margin-bottom: 0;
			}
    }
    &.--mail {
			background-color: $color-sub;
			@include mq(l) {
				width: 175px;
			}
    }
  }
}

.is-navActive .globalNav {
  transform: translateX(0);
}
