.header {
	width: 100%;
	padding: 0 20px;
	height: 60px;
	background-color: $color-white1;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 0 10px rgba(#000, 0.03);
	&__logo img {
		width: 109px;
	}
}