.mv {
  margin-top: 60px;
  width: 100vw;
  height: 360px;
  position: relative;
  background-color: $color-black;
  @include mq(m) {
    margin-top: 80px;
    height: 610px;
  }
  &__list {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  &__item {
    display: block;
    width: 100%;
    height: 360px;
    background-size: cover;
    background-position: right bottom;
    @include mq(m) {
      height: 610px;
    }
    &.--first {
      background-image: url(../img/bg_hero_01_sp.jpg);
      @include mq(m) {
        background-image: url(../img/bg_hero_01.jpg);
      }
    }
    &.--second {
      background-image: url(../img/bg_hero_02_sp.jpg);
      @include mq(m) {
        background-image: url(../img/bg_hero_02.jpg);
      }
    }
    &.--third {
      background-image: url(../img/bg_hero_03_sp.jpg);
      @include mq(m) {
        background-image: url(../img/bg_hero_03.jpg);
      }
    }
  }
  &__dots {
    text-align: center;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    @include mq(m) {
			bottom: 100px;
    }
    li {
      display: inline-block;
      margin: 0 10px;
      button {
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: $color-main;
        position: relative;
        text-indent: -9999px;
      }
      &.slick-active {
        button {
          background-color: $color-accent;
        }
      }
    }
  }
  &__catch {
    font-family: $font-jp-sub, serif;
    font-size: 24px;
    color: $color-white1;
    line-height: 1.5;
    letter-spacing: 0.2em;
    position: absolute;
    top: 90px;
    left: 25px;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    z-index: 5;
    @include mq(s) {
      left: 40px;
      font-size: 32px;
    }
    @include mq(m) {
      font-size: 36px;
      top: 244px;
      left: 104px;
      br {
        display: none;
      }
    }
  }
}
