.news {
  padding: 0 20px 53px;
  background-color: $color-main;
	width: 100%;
	@include mq(s) {
		padding: 0 40px 53px;
	}
	@include mq(m) {
		padding: 0 40px 100px;
	}
  &__container {
    position: relative;
    margin-top: -40px;
    width: 100%;
    background-color: $color-white1;
    padding: 40px 20px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
		@include mq(m) {
			max-width: 960px;
			margin: -90px auto 0;
			padding: 80px;
		}
  }
  &__title {
    text-align: center;
    margin-bottom: 16px;
  }
  &__subtitle {
    text-align: center;
		margin-bottom: 30px;
		@include mq(s) {
			margin-bottom: 60px;
		}
	}
	&__list {
		@include mq(s) {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
		}
	}
  &__button {
    margin: 0 auto;
  }
}

.news-item {
	margin-bottom: 30px;
	@include mq(s) {
		width: 47%;
	}
	@include mq(m) {
		margin-bottom: 45px;
		&:last-of-type {
			margin-bottom: 60px;
		}
	}
  &__date {
		display: inline-block;
		height: 20px;
		line-height: 20px;
    font-size: 14px;
    font-weight: bold;
    margin-right: 15px;
  }
  &__tag {
		display: inline-block;
		padding: 0 10px;
    height: 20px;
    line-height: 20px;
    background-color: $color-accent;
		color: $color-white1;
		font-size: 11px;
		font-weight: 500;
		margin-bottom: 14px;
  }
	&__title {
		font-size: 14px;
		line-height: 1.8;
	}
}
