.other {
	background-color: $color-main;
	padding: 40px 20px 60px;
	@include mq(s) {
		padding: 40px 40px 60px;
	}
	@include mq(m) {
		padding: 80px 40px 100px;
	}
	&__content {
		&:not(:last-of-type) {
			margin-bottom: 60px;
		}
		@include mq(s) {
			display: flex;
		}
		@include mq(m) {
			max-width: 1280px;
			margin: 0 auto;
		}
	}
  &__img {
    display: block;
    width: 100%;
		margin-bottom: 30px;
		@include mq(s) {
			width: 40%;
			height: 100%;
			max-width: 380px;
			margin-right: 40px;
		}
  }
  &__title {
    font-family: $font-jp-main, $font-en, "Helvetica Neue", Arial,
      "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
    font-size: 20px;
    margin-bottom: 28px;
    text-transform: uppercase;
  }
  &__text {
    font-size: 15px;
    line-height: 2;
		margin-bottom: 35px;
		@include mq(m) {
			margin-bottom: 50px;
		}
  }
  &__link {
    display: block;
    font-size: 15px;
		font-weight: bold;
    img {
      margin-left: 8px;
    }
  }
}
