.recruit {
	padding: 40px 20px;
	background-image: url(../img/bg_recruit.jpg);
	background-position: center;
	color: $color-white2;
	text-align: center;
	@include mq(m) {
		padding: 80px 40px;
		max-width: 1500px;
		margin: 0 auto;
	}
	&__title {
		font-size: 20px;
		letter-spacing: 0.15em;
		margin-bottom: 15px;
	}
	&__subtitle {
		font-size: 14px;
		text-transform: uppercase;
		margin-bottom: 40px;
	}
	&__text {
		font-size: 15px;
		line-height: 2;
		letter-spacing: 0.2em;
		margin-bottom: 30px;
		@include mq(m) {
			margin-bottom: 60px;
		}
	}
	&__button {
		display: block;
		width: 220px;
		height: 45px;
		line-height: 45px;
		border: solid 1px $color-white2;
		font-size: 14px;
		font-weight: bold;
		letter-spacing: 0.1em;
		margin: 0 auto;
	}
}